body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background: #2ecc71;
    color: white;
    text-align: center;
    padding: 40px 0;
}

#about {
    display: flex;
    align-items: center;
    padding: 50px;
    background: white;
    gap: 35px;
}

#about img {
    width: 200px;      
    height: 200px;     
    border-radius: 50%;
    object-fit: cover; 
    border: 4px solid #2ecc71;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}


#about h2 {
    font-size: 2.2rem;   
}

#about p {
    font-size: 1.15rem; 
    line-height: 1.8;
    color: #333;
    max-width: 750px;
}



#skills, #projects, #resume, #contact {
    padding: 40px;
    background: white;
    margin: 20px 0;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#skills li {
    background: #2ecc71;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    list-style: none;
}

.project {
    background: #e8f8f5;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #2ecc71;
}

#resume a {
    padding: 10px 20px;
    background: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

footer {
    background: #2ecc71;
    color: white;
    text-align: center;
    padding: 20px;
}
